<header>
    <div class="container">
        <a id="logo" href="">
            <img src="/images/other/silicon-logo-light_theme.svg" alt="silicon logotype" />
        </a>

        <div id="menu">
            <nav>
                <NavLink class="menu-link" href="" Match="NavLinkMatch.All">Overview</NavLink>
                <NavLink class="menu-link" href="/#features">Features</NavLink>
                
                <AuthorizeView>
                    <Authorized>
                        <NavLink class="menu-link" href="/courses">Courses</NavLink>
                    </Authorized>
                </AuthorizeView>

                <NavLink class="menu-link" href="/contacts">Contact</NavLink>
            </nav>
        </div>

        <div class="btn-switch">
            <span>Light</span>
            <div class="switch">
                <input type="checkbox" id="switch" role="switch">
                <label for="switch" class="slider round"></label>
            </div>
            <span>Dark</span>
        </div>

        <div class="account-buttons">
            <AuthorizeView>
                <Authorized>
                    <div class="profile-picture">
                        <a href="/account/details">
                            <img src="/images/uploads/profiles/avatar.jpg" />
                        </a>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <a href="/signin" class="btn-gray"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign in</a>
                    <a href="/signup" class="btn-theme"><i class="fa-regular fa-user"></i>Sign up</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="btn-mobile">
            <button class="btn" onclick="showMenu()"><i class="fa-solid fa-bars" aria-controls="mobile-menu"></i></button>
        </div>

    </div>

    <div id="mobile-menu" aria-expanded="false">
        <div class="btn-switch">
            <span>Light</span>
            <div class="switch">
                <input type="checkbox" id="switch" role="switch">
                <label for="switch" class="slider round"></label>
            </div>
            <span>Dark</span>
        </div>
        <div class="account-buttons">
            <button asp-action="SignIn" asp-controller="Auth" class="btn-gray"><i class="fa-solid fa-arrow-right-to-bracket"></i>Sign in</button>
            <button asp-action="SignUp" asp-controller="Auth" class="btn-theme"><i class="fa-regular fa-user"></i>Sign up</button>
        </div>
        <div id="menu">
            <nav>
                <a asp-action="Home" asp-controller="Default" asp-fragment="showcase" class="menu-link">Overview</a>
                <a asp-action="Home" asp-controller="Default" asp-fragment="features" class="menu-link">Features</a>
                <a asp-action="Index" asp-controller="Courses" class="menu-link">Courses</a>
            </nav>
        </div>
    </div>
</header>