@inherits LayoutComponentBase
@layout AccountLayout


<section id="account-details">
    <div class="container">

        <aside>
            <Frontend.Components.Sections.AccountProfileAvatar user="user" />
        </aside>

        <div class="account-info">
            @Body
        </div>

    </div>
</section>

@code {
    [CascadingParameter]
    private ApplicationUser user { get; set; } = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserDataAsync();
    }

    private async Task LoadUserDataAsync()
    {
        user = await UserManager.GetUserAsync(HttpContext.User) ?? null!;
    }
}