@inherits LayoutComponentBase
@layout AccountLayout


<section id="account-details">
    <div class="container">

        <aside>
            <Frontend.Components.Sections.AccountProfileAvatar />
        </aside>

        <div class="account-info">
            @Body
        </div>

    </div>
</section>