#courses {
    padding-top: 40px;
    padding-bottom: 95px;

    .container {

        .category {
            display: flex;
            justify-content: center;
            gap: 10px;

            @include lg {
                justify-content: flex-start;
            }

            a {
                text-decoration: none;
                color: $gray-600;
                margin-top: -4px;

                &:hover {
                    color: $theme;
                }

                &.active {
                    color: $theme;
                }
            }

            .home {
                height: 18px;
                width: 18px;
                margin-right: 5px;
                margin-bottom: 2px;
            }

            .next {
                height: 16px;
                width: 16px;
            }
        }

        .navigation {
            display: block;

            h1 {
                @include h2;
                text-align: center;

                @include lg {
                    @include h1;
                }
            }

            @include lg {
                display: flex;
            }

            .bars {
                margin-top: 0;
                gap: 24px;

                @include lg {
                    display: flex;
                    margin-left: auto;
                    margin-top: 30px;
                }

                .select-box {
                    padding-bottom: 15px;

                    @include lg {
                        padding-bottom: 0;
                    }

                    select {
                        height: 42px;
                        width: 100%;
                        margin-top: 1px;
                        padding-left: 14px;
                        border: none;
                        border-right: 15px solid transparent;
                        outline: 1px solid $gray-400;
                        border-radius: 5px;

                        @include lg {
                            width: 240px;
                        }

                        @include text-s;
                        color: $gray-700;

                        option {
                            background-color: $white;
                        }
                    }
                }

                .search-bar {
                    padding-bottom: 40px;

                    @include lg {
                        padding-bottom: 0;
                    }

                    input {
                        background-image: url('/images/icons/search-icon.svg');
                        background-position: calc(100% - 15px) 50%;
                        background-repeat: no-repeat;
                        background-size: 20px;

                        @include text-s;
                        color: $gray-700;
                        height: 44px;
                        width: 100%;
                        padding-left: 16px;
                        border-radius: 5px;
                        border: 1px solid $gray-400;

                        @include lg {
                            width: 300px;
                        }

                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            color: $gray-700;
                        }
                    }
                }
            }
        }

        .grid {
            display: grid;
            gap: 2rem 1rem;
            padding-bottom: 40px;

            @include md {
                grid-template-columns: repeat(2, 1fr);
            }

            @include lg {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        a {
            text-decoration: none;
        }

        .course-card {
            width: 100%;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.059);

            .text-s {
                margin-top: -5px;
            }

            .pricing {
                display: flex;

                .price {
                    margin-top: -10px;
                    color: $theme;
                    font-weight: 700;

                    .old-price {
                        padding-left: 5px;
                        font-weight: 300;
                        color: $gray-600;
                        text-decoration: line-through;
                    }
                }
            }

            &-image {
                position: relative;

                .best-seller-tag {
                    position: absolute;
                    height: 22px;
                    width: 90px;
                    background-color: #22C55E;
                    border-radius: 5px;
                    left: 16px;
                    top: 16px;

                    p {
                        @include text-s;
                        color: #FFFFFF;
                        padding-left: 8px;
                    }
                }

                .bookmark-tag {
                    background-color: #FFFFFF;
                    position: absolute;
                    height: 36px;
                    width: 36px;
                    top: 16px;
                    right: 16px;
                    border-radius: 50%;
                    border: none;

                    i {
                        line-height: 36px;
                        color: $gray-800;
                    }
                }
            }

            &-body {
                padding: 25px;
            }

            &-footer {
                padding: 25px;
                margin-top: -45px;
                gap: 2rem;
                color: $gray-600;

                &, * {
                    display: flex;
                    align-items: center;
                }

                img {
                    height: 20px;
                    width: 20px;
                    margin-right: 5px;
                }

                div {
                    gap: .5rem;
                }

                p {
                    margin: 0;
                }
            }
        }

        nav {
            display: flex;
            justify-content: center;
            gap: 8px;

            .pagination-single, .pagination-single-scroll {
                height: 36px;
                width: 36px;
                border-radius: 5px;
                background-color: $white;
                transition: all 0.25s ease-in-out;

                &:hover {
                    background-color: $gray-200;
                }

                &.active {
                    background-color: $theme;
                    box-shadow: 0px 10px 10px -3px #6365f13b;

                    p {
                        color: $white;
                    }
                }

                img {
                    height: 18px;
                    width: 18px;
                    margin-bottom: 3px;
                }

                p {
                    font-weight: 500;
                    color: $gray-800;
                    text-align: center;
                    line-height: 36px;
                }
            }
        }
    }
}
